;	EMACS.RC:	Startup file for MicroEMACS 3.4
;
;			This file is executed everytime the
;			editor is entered
;
;	This version of the files contains bindings that more closely
;	match the EMACS documentation in the Forthmacs User's Manual.

; Set up Forthmacs-compatible bindings

; I find that the location of the ESC key on most PC keyboards is too far
; from the home keys for effective use with EMACS.  I am accustomed to the
; ESC key being in the location where the PC puts the ` key.  I therefore
; prefer to bind the ` key to be the meta prefix, instead of the real ESC
; key.  This works well if you can train yourself not to look for the
; ESC label on the key cap, and just touch type ` without looking.

; bind-to-key meta-prefix			`

bind-to-key find-file			^X^V
bind-to-key delete-window               ^X^D
bind-to-key next-window			^XN
; bind-to-key incremental-search		^S
; bind-to-key reverse-incremental-search	^R
bind-to-key search-forward		^S
bind-to-key search-forward		^\
bind-to-key search-reverse		^R
bind-to-key save-file			^XS
bind-to-key apropos			M-?
bind-to-key select-buffer		^X^O
bind-to-key delete-buffer		^XK
bind-to-key move-window-down		^Z
bind-to-key move-window-up		M-Z


;	***** Rebind the Function key group

bind-to-key execute-macro-11		FN;
bind-to-key execute-named-command	FN<
bind-to-key hunt-forward		FN=
bind-to-key hunt-backward		FN>
bind-to-key next-window			FN?
bind-to-key execute-macro		FN@
bind-to-key find-file			FNA
bind-to-key view-file			FNB
bind-to-key save-file			FNC
bind-to-key exit-emacs			FND

;	set screen colors
add-global-mode "blue"

;	Enter Help
11 store-macro
	help
	8 resize-window
	bind-to-key execute-macro-12 FNI
	bind-to-key execute-macro-13 FNQ
	bind-to-key execute-macro-14 FN;
	add-mode "red"
	begining-of-file
	2 forward-character
	clear-message-line
[end]

;	bring up the function key window
1 store-macro
	2 split-current-window
	select-buffer "Function Keys"
	add-mode "red"
	begining-of-file
	2 resize-window
	insert-string "F1 help on/off F2  exec cmd    F3 hunt       F4  back hunt     F5  next window"
	newline
	insert-string "F6 exec macro  F7  find file   F8 view file  F9  save file     F10 exit emacs"
	begining-of-file
	unmark-buffer
	bind-to-key execute-macro-15 FNT
	next-window
[end]

; reselect function key window
15 store-macro
	2 split-current-window
	select-buffer "Function Keys"
	begining-of-file
	2 resize-window
	add-mode "red"
	next-window
[end]

;	consult file
3 store-macro
	2 split-current-window
	previous-window
	view-file "@File to Consult: "
	8 resize-window
	add-mode "green"
	add-mode "Black"
	next-window
[end]

;	Exit Help
14 store-macro
	bind-to-key previous-page FNI
	bind-to-key next-page FNQ
	bind-to-key execute-macro-1 FN;
	delete-window
	clear-message-line
[end]

;	last help page
12 store-macro
	begining-of-line
	search-reverse "=>"
	1 redraw-display
[end]

;	next help page
13 store-macro
	begining-of-line
	2 forward-character
	search-forward "=>"
	1 redraw-display
[end]

execute-macro-1
